node_modules/
.idea/
wwwroot/build/
wwwroot/doc/
npm-debug.log
version.js
wwwroot/init/nm.json
datasources/00_National_Data_Sets.json
.DS_Store
.localized
.sass-cache
/terriajs.pid
/error.log
/output.log
# added by GitSavvy
/wwwroot/editor/
