@import "global/variables";
@import "global/icons";
@import "global/helpers";
@import "global/mixins";
@import "global/normalize";
@import "partial/base";
@import "partial/type";
@import "partial/buttons";
@import "partial/dropdown";
@import "partial/form";
@import "partial/labels";
@import "partial/layout";
@import "partial/tables";
@import "partial/tabs";
@import "partial/map";
@import "partial/leaflet";
// component styles
@import "partial/branding";
@import "partial/drop_zone";

@import "partial/map_navigation";
@import "partial/misc";
@import "partial/modal_window";
@import "partial/my_data";
@import "partial/work_bench";

//mobile only styles
@import "component/mobile";

@import "component/dropdown_panel";
@import "component/loader";
@import "component/location_bar";
@import "component/notification";
@import "component/compass_zoom";
@import "component/settingPanel";
@import "component/progressBar";
@import "component/chart";
@import "component/data_catalog";
@import "component/feature_info";
@import "component/now_viewing";
@import "component/preview";
@import "component/search";
@import "component/mobile";
@import "component/bottom_dock";
@import "component/timeline";
@import "component/share_panel";

@import "print";


.panel--getting-started .panel-content{
  background-image: url("../images/welcome-bg.jpg");
}

@media print {
    .nationalmap-print-disclaimer {
        color: #000;
        display: block;
    }
}
