@import "global/variables";
@import "global/icons";
@import "global/helpers";
@import "global/mixins";
@import "global/normalize";
@import "partial/base";
@import "partial/type";
@import "partial/buttons";
@import "partial/dropdown";
@import "partial/form";
@import "partial/labels";
@import "partial/layout";
@import "partial/tables";
@import "partial/tabs";
@import "partial/map";
@import "partial/leaflet";
// component styles
@import "partial/branding";
@import "partial/drop_zone";

@import "partial/map_navigation";
@import "partial/misc";
@import "partial/modal_window";
@import "partial/my_data";
@import "partial/work_bench";

@import "component/loader";
@import "component/location_bar";
@import "component/notification";
@import "component/compass_zoom";
@import "component/settingPanel";
@import "component/progressBar";
@import "component/chart";
@import "component/data_catalog";
@import "component/feature_info";
@import "component/now_viewing";
@import "component/preview";
@import "component/search";
@import "component/mobile";


$offset: 10px;
//welcome text
.panel--welcome{
  .panel-content{
    padding: $offset $offset*2;
  }
  h4{
    margin: 2rem 0 1rem 0;
  }
  figure{
    margin: $offset;
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .row{
    margin: 0 -$offset;
  }

  figure{
    position: relative;
  }
  figcaption{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#000, 0.7);
    color: #fff;
    padding: $offset;
  }
}
